<br>
<h1>Bienvenue au restaurant "<strong><%=@restaurant.name %></strong>"</h1>
<p>category: <%= @restaurant.category %></p>
<p>address: <%= @restaurant.address %></p>
<p>phone number: <%= @restaurant.phone_number %></p>
<p><%= link_to 'back to restaurants', restaurants_path %></p>
